.content{
    width:50%;
    margin:auto;
}
.name{
    display: flex;
    flex-direction: row;
    
}
.first{
    display: block;
    width: 50%;
    margin-right: 12px;
}
.last{
    display: block;
    width: 50%;
    margin-left: 12px;
}
.text-danger{
    color: red;
    font-size: 12px;
    padding-top: 5px;
    padding-bottom: 8px;
}
input[type=text], textarea, button{
    width: 100%;
    align-items: stretch;
    padding: 12px;
    margin-top: 12px;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 6px;
}
input[type=text]:hover{
    border: 2px solid #84CAFF;
}


input[type=text]{
    border: 1px solid #d0d5dd;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
	border-radius: 8px;
	padding: 10px 14px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #667085;
    outline: none;
}
input::placeholder, textarea::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #667085;
}
input[type=checkbox]{
    border: 1px solid #d0d5dd;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    font-size: 25px;
    outline: none;
}
input[type=checkbox]:checked{
    background-color:  #FFFFFF;
    border: 1px solid #d0d5dd
}
input[type=checkbox]:focus{
    border: 1px solid #84caff;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #d1e9ff;
}
button{
    background-color: #1570EF;
    border: 1px solid #1570EF;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    width: 100%;
    margin-top: 30px;
}
button:hover{
    background: #175cd3;
	border: 1px solid #175cd3;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}
button:focus {
	background: #1570ef;
	border: 1px solid #1570ef;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #d1e9ff;
}
textarea{
    height: 150px;
    border: 1px solid #d0d5dd;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
	border-radius: 8px;
	padding: 10px 14px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #667085;
    outline: none;
    resize: none;
}
textarea:focus{
    border: 1px solid #84caff;
	box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #d1e9ff;
	transition: 0.5s;
}
textarea:hover{
    border: 2px solid #D0D5DD;
}
.head h2{
    font-size: 36px;
}
.head p{
    font-size: 20px;
}
.check{
    font-size: 18px;
    padding: 6px;
}
#check{
    margin-top: 12px;
}
.message {
    background: #fff;
    color: #84ff9f;
    font-size: 20px;
    width: 40vw;
    padding: 4px;
}
@media screen and (max-width: 600px){
    .content{
    width: 90%;
    margin: 0;
    }
    .name{
        display: block;
    }
    
}
@media screen and (max-width: 375px){
    .content{
    width: 90%;
    margin-left: 15px;
    }
    .name{
        display: block;
    }
    .divide{
        display: flex;
        flex-direction: row;
    }
    .check{
        font-size: 14px;
        padding: 12px;
    }
    .head p{
        font-size: 16px;
    }
}